body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */

  }
  
  h1 {
    color: #17a2b8;
  }
  
  .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .card-body {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  }
  
  label {
    font-weight: bold;
  }
  
  button {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .alert {
    border-radius: 15px;
  }
  
  .alert-heading {
    color: #007bff;
  }
  
  html, body, #root, .container {
    height: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .row {
    width: 100%;
  }
  
  .card-body {
    text-align: center;
  }
  .fitness-img{
    height: 150px;
    width: 150px;
  }
  